{% extends "dashboard/base.html" %}
{% block title %}Dashboard-Blog{% endblock %}
{% block content %}
{% include "dashboard/aside-header.html" %}
<style>
  .read-more-btn {
  background: none;
  border: none;
  color: #4070f4;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;

}

.read-more-btn:hover {
  text-decoration: underline;
}


</style>
{% if session['user_type'] != 'user' %}
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">

              <!-- modal starts -->

                  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg shadow" role="document">
                        <!-- /.col -->
                          <div class="modal-content shadow">
                            <div class="modal-body card shadow">
                              <div class="card-header">
                                <strong class="card-title">Add new blog</strong>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              </div>
                              <div class="card-body">
                                <form method="POST" action="{{ url_for('add_blog') }}" class="needs-validation" enctype="multipart/form-data" novalidate>

                                    <div class="col-md-12 mb-3">
                                      <label for="validationCustom3">Title</label>
                                      <input type="text" placeholder="title" name="title" class="form-control" id="validationCustom3" style="height:40px;font-size:17px;" required>
<!--                                      <div class="valid-feedback"> Looks good! </div>-->
                                      <div class="invalid-feedback" style="font-size:15px;"> Provide title </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                      <label for="validationTextarea">Description</label>
                                      <textarea name="description" class="form-control" id="validationTextarea" rows="5" style="resize:none;" placeholder="description" required></textarea>
                                    <div class="invalid-feedback"> Provide description. </div>
                                  </div>

                                  <div class="col-md-12 mb-3">
                                      <label for="validationCustom04">Status</label>
                                      <select class="custom-select" name="status" id="validationCustom04" style="height:40px;font-size:17px;" required>
                                          <option selected disabled value="">choose...</option>
                                          <option value="1">Active</option>
                                          <option value="0">Un active</option>
                                      </select>
                                      <div class="invalid-feedback" style="font-size:15px;"> Provide status </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                      <label for="validationCustom3">Image Thumbnail</label>
                                      <input type="file" placeholder="image" name="image" accept="image/*" class="form-control" id="validationCustom3" style="height:40px;font-size:17px;" required>
<!--                                      <div class="valid-feedback"> Looks good! </div>-->
                                      <div class="invalid-feedback" style="font-size:15px;"> Provide title </div>
                                    </div>
<br>
                                  <button class="btn mb-2 btn-outline-success" type="submit" style="height:40px;">Add new blog</button>
                                </form>
                              </div> <!-- /.card-body -->
                            </div> <!-- /.card -->
                          </div>
                          <!-- /.col -->


                    </div>
                  </div> <!-- medium modal -->


              <!-- end of modal -->


                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'success' %}
                                <div class="col-12 mb-4">
                                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <h4 class="alert-heading">{{ message }}</h4> <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                </div>

                            {% elif category == 'error' %}
                                <div class="col-12 mb-4">
                                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <h4 class="alert-heading">{{ message }}</h4> <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                </div>
                            {% else %}
                                <div class="col-12 mb-4">
                                  <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <h4 class="alert-heading">{{ message }}</h4> <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}

              <h2 class="mb-2 page-title">Blog</h2>
               <button type="button" class="btn mb-2 btn-outline-success" style="height:40px;" data-toggle="modal" data-target=".bd-example-modal-lg">Add new blog</button>

              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body" style="overflow-y:auto;">
                      <!-- table -->
                      <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>

                            <th>#</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>

                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for blog in blogs %}
                          <tr>
                            <td>{{ loop.index }}</td>

                            <td><img src="{{ url_for('static', filename='sell_imgs/blog/'+blog.images)}}" alt="image" width="150px" height="100px" srcset=""></td>

                            <td>{{ blog.title }}</td>
                            <td>
                                <p class="blog-description">
                                    <span class="short-text">{{ blog.description[:200] }}...</span>
                                    <span class="more-text" style="display: none;">{{ blog.description }}</span>
                                    <button class="read-more-btn">Read More</button>
                                </p>
                            </td>


                                {% if blog.status == '1' %}
                                <td style="text-transform:uppercase;">Active</td>
                                {% elif blog.status == '0' %}
                                <td style="text-transform:uppercase;">Un Active</td>
                                {% else %}
                                Nothing there
                                <td style="text-transform:uppercase;">{% endif %}</td>


                            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text-muted sr-only">Action</span>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/Dashboard/blog/update/{{ blog.id }}" data-toggle="modal" data-target=".bd-example-modal-lg-edit{{ blog.id }}">Edit</a>
                                {% if session['user_type'] != 'user' %}
                                  <a class="dropdown-item" href="/Dashboard/blog/del/{{ blog.id }}">Remove</a>
                                {% endif %}
                              </div>
                            </td>
                          </tr>
                        <!-- edit modal starts -->

                  <div class="modal fade bd-example-modal-lg-edit{{ blog.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg shadow" role="document">
                        <!-- /.col -->
                          <div class="modal-content shadow">
                            <div class="modal-body card shadow">
                              <div class="card-header">
                                <strong class="card-title">Edit blog details</strong>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              </div>
                              <div class="card-body">
                                <form method="POST" action="{{ url_for('update_blog') }}" enctype="multipart/form-data">
                                 <input type="hidden" name="id" value="{{ blog.id }}">

                                    <div class="col-md-12 mb-3">
                                      <label for="validationCustom3">Title</label>
                                      <input value="{{ blog.title }}" type="text" placeholder="title" name="title" class="form-control" id="validationCustom3" style="height:40px;font-size:17px;" required>
<!--                                      <div class="valid-feedback"> Looks good! </div>-->
                                      <div class="invalid-feedback" style="font-size:15px;"> Provide title </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                      <label for="validationTextarea">Description</label>
                                      <textarea name="description" class="form-control" id="validationTextarea" rows="5" style="resize:none" placeholder="description" required>{{ blog.description }}</textarea>
                                    <div class="invalid-feedback"> Provide description. </div>
                                  </div>


                                    <div class="col-md-12 mb-3">
                                      <label for="validationCustom04">Status</label>
                                      <select class="custom-select" name="status" id="validationCustom04" style="height:40px;font-size:17px;" required>
                                            <option value="{{ blog.status }}">
                                                {% if blog.status == '1' %}
                                                    Active
                                                {% elif blog.status == '0' %}
                                                    Un active
                                                {% else %}
                                                    Empty

                                                {% endif %}
                                            </option>
                                            {% if blog.status == '1' %}

                                            {% else %}
                                            <option value="1"> Active </option>
                                            {% endif %}

                                            {% if blog.status == '0' %}
                                            {% else %}
                                             <option value="0">Un active</option>

                                            {% endif %}


                                      </select>
                                      <div class="invalid-feedback" style="font-size:15px;"> Provide status </div>
                                    </div>


                                  <button type="submit" class="btn btn-outline-success" style="height:40px;">Edit blog details</button>
                                </form>
                              </div> <!-- /.card-body -->
                            </div> <!-- /.card -->
                          </div>
                          <!-- /.col -->


                    </div>
                  </div> <!-- medium modal -->


              <!-- end of edit modal -->
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        </main> <!-- main -->
    </div> <!-- .wrapper -->


    <script src="{{ url_for('static', filename='js/apps.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/simplebar.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/daterangepicker.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.stickOnScroll.js')}}"></script>
    <script src="{{ url_for('static', filename='js/tinycolor-min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/config.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mask.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.steps.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.timepicker.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dropzone.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/uppy.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/quill.min.js')}}"></script>

    <script>
        window.addEventListener("beforeunload", function () {
        navigator.sendBeacon("{{ url_for('logout') }}");
    });
    </script>
    <script>
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [10, 20, 40, -1],
          [10, 20, 40, "All"]
        ]
      });
    </script>
    <script>
      $('.select2').select2(
      {
        theme: 'bootstrap4',
      });
      $('.select2-multi').select2(
      {
        multiple: true,
        theme: 'bootstrap4',
      });
      $('.drgpicker').daterangepicker(
      {
        singleDatePicker: true,
        timePicker: false,
        showDropdowns: true,
        locale:
        {
          format: 'MM/DD/YYYY'
        }
      });
      $('.time-input').timepicker(
      {
        'scrollDefault': 'now',
        'zindex': '9999' /* fix modal open */
      });
      /** date range picker */
      if ($('.datetimes').length)
      {
        $('.datetimes').daterangepicker(
        {
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale:
          {
            format: 'M/DD hh:mm A'
          }
        });
      }
      var start = moment().subtract(29, 'days');
      var end = moment();

      function cb(start, end)
      {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }
      $('#reportrange').daterangepicker(
      {
        startDate: start,
        endDate: end,
        ranges:
        {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, cb);
      cb(start, end);
      $('.input-placeholder').mask("00/00/0000",
      {
        placeholder: "__/__/____"
      });
      $('.input-zip').mask('00000-000',
      {
        placeholder: "____-___"
      });
      $('.input-money').mask("#.##0,00",
      {
        reverse: true
      });
      $('.input-phoneus').mask('(000) 000-0000');
      $('.input-mixed').mask('AAA 000-S0S');
      $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
      {
        translation:
        {
          'Z':
          {
            pattern: /[0-9]/,
            optional: true
          }
        },
        placeholder: "___.___.___.___"
      });
      // editor
      var editor = document.getElementById('editor');
      if (editor)
      {
        var toolbarOptions = [
          [
          {
            'font': []
          }],
          [
          {
            'header': [1, 2, 3, 4, 5, 6, false]
          }],
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [
          {
            'header': 1
          },
          {
            'header': 2
          }],
          [
          {
            'list': 'ordered'
          },
          {
            'list': 'bullet'
          }],
          [
          {
            'script': 'sub'
          },
          {
            'script': 'super'
          }],
          [
          {
            'indent': '-1'
          },
          {
            'indent': '+1'
          }], // outdent/indent
          [
          {
            'direction': 'rtl'
          }], // text direction
          [
          {
            'color': []
          },
          {
            'background': []
          }], // dropdown with defaults from theme
          [
          {
            'align': []
          }],
          ['clean'] // remove formatting button
        ];
        var quill = new Quill(editor,
        {
          modules:
          {
            toolbar: toolbarOptions
          },
          theme: 'snow'
        });
      }
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function()
      {
        'use strict';
        window.addEventListener('load', function()
        {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form)
          {
            form.addEventListener('submit', function(event)
            {
              if (form.checkValidity() === false)
              {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();



    </script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const readMoreButtons = document.querySelectorAll(".read-more-btn");

    readMoreButtons.forEach((button) => {
      button.addEventListener("click", function () {
        const shortText = this.previousElementSibling.previousElementSibling; // The truncated description
        const fullText = this.previousElementSibling; // The full description
        const isHidden = fullText.style.display === "none";

        if (isHidden) {
          // Show full description and hide truncated text
          fullText.style.display = "inline";
          shortText.style.display = "none";
          this.textContent = "Read Less";
        } else {
          // Show truncated text and hide full description
          fullText.style.display = "none";
          shortText.style.display = "inline";
          this.textContent = "Read More";
        }
      });
    });
  });
</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>

<script src="{{ url_for('static', filename='js/apps.js')}}"></script>

{% endif %}
{% endblock %}